.hero {
background-image: url("/Users/jchoy/Desktop/projects/challenge-project-02/assets/images/IMG_2992 (1).jpg");
width: 620px;
height: 443px;
border: rgb(45, 202, 124);
flex: wrap;
}

.hero p { text-align: right;
    padding: 20px 20px 20px 20px;

}
.Profile {
    color: rgb(45, 202, 124);
    border: 20px 20px 20px 20px;
}

.About-Me {
    color: rgb(45, 202, 124);
    border: 20px 20px 20px 20px;
}

.About-Me p {
    color: black;
}

.Selected-Works {
    color: rgb(45, 202, 124);
    border: 20px 20px 20px 20px;
}

.Selected-Works p {
    color: black;
}
