:root {
    --green:  rgb(45, 202, 124);
}
.hero {
background-image: url("/Users/jchoy/Desktop/projects/challenge-project-02/assets/images/hero.jpg");
width: 620px;
height: 443px;
border-style: solid;
border-width: 1px;
border-radius: 10px;
padding: 10px;
flex: 0 0 400px;
display: grid;
}

.hero p { text-align: right;
    padding: 20px 20px 20px 20px;

}
.Profile {
    color: var(--green);
    border: 20px 20px 20px 20px;
}

.About-Me {
    color: var(--green);
    border: 20px 20px 20px 20px;
}

.About-Me p {
    color: black;
}

.Selected-Works {
    color: var(--green);
    border: 20px 20px 20px 20px;
}

.Selected-Works p {
    color: black;
}
